# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
build/
dist/

# Virtual envs
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
